#navigation {
    top: 0;
    padding: 1rem 0 1.5rem;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    overflow: visible;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-image: linear-gradient(black 70%, transparent);
}

#main-image {
    border-radius: 50% 50% 12px 12px;
    border: 4px double var(--color-purple);
    max-width: 350px;
}


#message {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: .25em;

    .iterate-message {
        width: 350px;
        height: calc(1.25rem + 4px);
        line-height: calc(1.25rem + 4px);
        overflow: hidden;
        position: relative;
        vertical-align: bottom;

        span {
            position: absolute;
            top: 0;
            left: 0;
            animation: slideRight 13s infinite;
            background: var(--color-purple);
            display: inline;
            padding: 0 .25em;
            color: var(--color-white);
            margin: 0;
            border-radius: 3px;
            text-wrap: nowrap;
            text-transform: uppercase;

            &:nth-child(1) {
                animation-delay: -8s;
            }

            &:nth-child(2) {
                animation-delay: -4s;
            }

            &:nth-child(3) {
                animation-delay: 0;
            }
        }
    }
}

#header {
    min-height: 100%;

    #header-container {
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
    }
}

@media screen and (min-width: 960px) {
    #header {
    
        #header-container {
            flex-direction: row;
        }
    }
}