.text-wrapper {
    position: relative;
    text-align: center;
    font-size: 2.75rem;
}

.text-back {
    position: absolute;
    left: 50%;
    top: -.8em;
    transform: translateX(-50%);
    color: #e3e3e3;
    white-space: nowrap;
    pointer-events: none;
    font-size: 2em;
    z-index: 0;
}

.text-front {
    margin: 0 auto;
    color: var(--color-black);
    z-index: 2;
    line-height: 1;
    position: relative;
}