:root {
    --color-white: #ffffff;
    --color-black: #2f2f2f;
    --color-purple: #b55aff;
    --color-light-purple: #e8d4f9;
    --color-dark-blue: #3333a8;
    --color-light-grey: #f1f1f1;
    --color-dark-gray: #565656;

    /* Timeline Category Colors */
    --color-laboral: #2555a3;
    --color-academica: #9f2eba;
    --color-docencia: #7d1fc7;
    --color-voluntariados: #bd2c97;

    --my-gradient: linear-gradient(45deg, var(--color-light-grey) 40%, var(--color-purple) 100%);
    
    --half-opacity: .5;
    --quarter-opacity: .25;

    --font-titles: "Work Sans", sans-serif;
    --font-primary: 'DM Sans', sans-serif;
    --font-size-base: 18px;
    --font-size-base-sm: 16px;

    --border-radius-small: 7px;
    --border-radius-medium: 10px;
    --border-radius-large: 20px;
    --border-radius-relative: 2em;
}
